{% extends "base.html" %} 
{% block title %} Последние обновления авторов {% endblock %}

{% block content %}
  <div class="container">
    {% include "menu.html" with follow=True %}
    <h1> Последние обновления авторов </h1>
      <!-- Вывод ленты записей -->
    {% load cache %}
    {% cache 20 follow_page %}
      {% for post in page %}
        {% include "post_item.html" with post=post %}
      {% endfor %}
    {% endcache %}
  </div>

    <!-- Вывод паджинатора -->
  {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator%}
  {% endif %}

{% endblock %}